body{
    width: 500px;
}
main{
    margin: 0;
    padding: 0px 20px;
}
aside{
    margin: 0 20px 10px;
    padding: 0 20px;
    width: 150px;
    float: right;
    border: 1px solid black;
}
footer{
    padding: 0 20px;
    clear: both;
}