*{
    margin: 0;
    padding: 0;
}
#nav_list ul{
    list-style-type: none;
    position: relative;
}
#nav_list ul li{
    float: left;    
}
#nav_list ul li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(80, 23, 23);
    width: 200px;
    border-right: 2px solid snow;
    padding: .5em 0;
}
#nav_list ul ul{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_list ul ul li{
    float: none;
}
#nav_list ul li:hover > ul{
    display: block;
}
#nav_list ul::after{
    content: "";
    display: block;
    clear: both;
}
#nav_list ul li a:hover{
    background-color: brown;
}
#nav_list ul ul li a{
    margin: 0;
    width: 200px;
    padding: 0.5em 0;
}